body {
	background-image: url("../images/memphis-colorful.png");
	width:100%;
}

.container {
	margin: 0 !important;
	width: 100% !important;
}

/* Following two classes define country buttons */
.country-buttons {
	color: gray;
	margin:10px;
	float: left;
}

.country-btn {
	margin:10px;
	border-style: outset;
	background-color: teal;
	border-radius:5px;
	color: white;

}

/* following two classes define country images */
.country-gifs {
	float:left;	
}

.image-style {
	margin-right: 10px;
	margin-bottom: 10px;
}

/* following two classes define form and submit */
.form-box {
	float: center;
}

/* Style for the Submit button */
#country-submit {
	margin-top:10px;
	border-style: outset;
	background-color: teal;
	border-radius:5px;
	color: white;
}